<!-- Insert image of sitting-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pelvic Chair 2 Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>

<header>
 
</header>

 


</header>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
<%- include('partials/sidebar.ejs') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <% chairdata.forEach(function(chair) { %>    

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">  Dit zijn jou persoonlijke resultaten <%= chair.user.name %> ! en vandaag is het %> </h1>
                               

                    </div>

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">

                    <article class="clock me-auto" id="model3">
                        <h3></h3>
                        <div class="count">
                          <div id="timer"></div>
                        </div>
                      </article>

                      </div>

                    <!-- Content Row -->
                    <div class="row">
                        <canvas id="js-bar-chart"></canvas>
     

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">

                                <!-- Card Body -->
                          
                                </div>
                            </div>
                        </div>


                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <!-- <li><p> De rightflap is : <% //rightflap %></p> </li>
                                        <li><p> De leftflap is : <% //leftflap %> </p></li>                                
                                        <li><p> De leftshoulder is : <% //leftshoulder %> </p></li> 
                                        <li><p> De rightshoulder is : <% //rightshoulder %> </p></li>  -->
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<%- include('partials/footer.ejs') %>
</div>
  


    <!-- Chart.js Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
    integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>



   
    <!-- Bar Chart Script -->
    <script>

function formatDate(date){
    var dd = date.getDate();
    var mm = date.getMonth()+1;
    var yyyy = date.getFullYear();
    if(dd<10) {dd='0'+dd}
    if(mm<10) {mm='0'+mm}
    date = yyyy+'-'+mm+'-'+dd;
    return date
 }
    var result = [];
    for (var i=0; i<7; i++) {
        var d = new Date();
        d.setDate(d.getDate() - i);
        result.push( formatDate(d) )
   result.join(',');
 }


var [na1, na2, na3,na4,na5,na6,na7] = result;
 console.log('Dit is',na1);


        let avg1 = '<%= chair.avg_voltage_vol_1 %>'
        let avg2 = '<%= chair.avg_voltage_vol_2 %>'
        let avg3 = '<%= chair.avg_voltage_vol_3 %>'
        let avg4 = '<%= chair.avg_voltage_vol_4 %>'

        console.log(avg1);
    // Grab the bar chart canvas
    const barChartContext = document
      .getElementById('js-bar-chart')
      .getContext('2d');
    
    // Chart configuration
    const config = {
      type: 'bar',
      data: {
        // Chart data
        
        // Colors to use #C472B9', '#E4CEE0', '#4382BB', '#84A6D6',#C472B9', '#E4CEE0', '#4382BB'
        datasets: [
          {
            data: [
              {x: na1,  y:avg1 },
              {x: na2,  y:avg1 },
              {x: na3,  y:avg1 },
              {x: na4,  y:avg1 },
              {x: na5,  y:avg1 },
              {x: na6,  y:avg1 },
              {x: na7,  y:avg1 },
            
          ],
            label: 'AVG1',
            backgroundColor: ['#F9D1D1', '#FFA4B6', '#F765A3', '#A155b9','#165BAA', '#0b1354', '#000'],
            borderWidth: 0.3,
            borderColor: 'black',
          },
          {
            data: [
              {x: na1,  y:avg2 },
              {x: na2,  y:avg2 },
              {x: na3,  y:avg2 },
              {x: na4,  y:avg2 },
              {x: na5,  y:avg2 },
              {x: na6,  y:avg2 },
              {x: na7,  y:avg2 },
            
          ],
            label: 'AVG2',
            backgroundColor: ['#F9D1D1', '#FFA4B6', '#F765A3', '#A155b9','#165BAA', '#0b1354', '#000'],
            borderWidth: 0.3,
            borderColor: 'black',
          },
          {
            data: [
              {x: na1,  y:avg3 },
              {x: na2,  y:avg3 },
              {x: na3,  y:avg3 },
              {x: na4,  y:avg3 },
              {x: na5,  y:avg3 },
              {x: na6,  y:avg3 },
              {x: na7,  y:avg3 },
            
          ],
            label: 'AVG3',
            backgroundColor: ['#F9D1D1', '#FFA4B6', '#F765A3', '#A155b9','#165BAA', '#0b1354', '#000'],
            borderWidth: 0.3,
            borderColor: 'black',
          },
          {
            data: [
              {x: na1,  y:avg4 },
              {x: na2,  y:avg4 },
              {x: na3,  y:avg4 },
              {x: na4,  y:avg4 },
              {x: na5,  y:avg4 },
              {x: na6,  y:avg4 },
              {x: na7,  y:avg4 },
            
          ],
            label: 'AVG4',
            backgroundColor: ['#F9D1D1', '#FFA4B6', '#F765A3', '#A155b9','#165BAA', '#0b1354', '#000'],
            borderWidth: 0.3,
            borderColor: 'black',
          },
        ],
      },
      options: {
        responsive: true,
        scales: {
          x: {
            type: 'time',
            time: {
             
             unit:'day' 
            }
          },
          y: {
            ticks: {
              callback: function (value) {
                return value + '%';
              },
            },
          },
        },
      },
    };
    
    // Creating a new chart instance
    const newBarChart = new Chart(barChartContext, config);

    </script>
    
    <%  }) %>

</body>




<!--Javascript partials command-->

</body>

</html>